{
  "sourceMaps": true,
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "browsers": [
            "last 2 versions",
            "> 1%"
          ]
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
